<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/api/{{product.productImage}}" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">{{product.name}}</h6>
      <p class="card-text"><b>{{product.price | currency: 'INR'}}</b></p>
    </div>
    <div class="card-footer p-0">
      <a *ngIf="!quantity else cartQuantity" class="btn btn-block btn-light" (click)="addToCart()">Add to Cart</a>
      <ng-template #cartQuantity>
        <app-product-quantity [product]="product"></app-product-quantity>
      </ng-template>
    </div>
</div>